@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 220, 14%, 96%;
    --foreground: 241 5% 0%;
    --card: 241 50% 90%;
    --card-foreground: 241 5% 10%;
    --popover: 241 100% 95%;
    --popover-foreground: 241 100% 0%;
    --primary: 51 61% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 241 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 203 30% 85%;
    --muted-foreground: 241 5% 35%;
    --accent: 203 30% 80%;
    --accent-foreground: 241 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 241 5% 90%;
    --border: 241 30% 50%;
    --input: 241 30% 18%;
    --ring: 51 61% 56%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
}
.dark {
    --background: 240, 10%, 4%;
    --foreground: 241 5% 90%;
    --card: 241 50% 0%;
    --card-foreground: 241 5% 90%;
    --popover: 241 50% 5%;
    --popover-foreground: 241 5% 90%;
    --primary: 51 61% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 241 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 203 30% 15%;
    --muted-foreground: 241 5% 60%;
    --accent: 203 30% 15%;
    --accent-foreground: 241 5% 90%;
    --destructive: 0 100% 20%;
    --destructive-foreground: 241 5% 90%;
    --border: 241 30% 18%;
    --input: 241 30% 18%;
    --ring: 51 61% 56%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
}

@layer base {
    * {
        @apply border-border;
    }
    main {
        @apply bg-background text-foreground;
    }

    *::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 0.75rem;
    }
    *::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
    }
    *::-webkit-scrollbar-thumb {
        background-color: rgb(113 113 122);
        border-radius: 0.75rem;
    }
    .discordIcon {
        @apply w-6 h-6;
        src: url("../assets/svg/discord.svg");
    }
}
